body.scroll-up .promotion_hub .sec_nav .pt_nav[sticky] {top: 80px;}
.promotion_hub {
    .sec_nav {@include vw-pc(height, 62);
        .pt_nav {
            background-color: #1751D1; transition: all 0.7s;
            &[sticky] {display: block; position: fixed; top: 0; left: 0; width: 100%; animation: navFade 0.3s; z-index: 100;}
        }
        .pt_nav{
            &__list {display: flex; justify-content: center; align-items: center; @include vw-pc(height, 62); color: #fff; text-align: center;}
            &__item {
                display: contents;
                &--active {
					.pt_nav__btn {opacity: 1;}
				}
            }
            &__btn {
                display: inline-flex; align-items: center; @include vw-pc(padding, 0 50); @include vw-pc(height, 62); @include vw-pc(font-size, 18); font-weight: 700;  @include vw-pc(letter-spacing, -.45); white-space: nowrap; opacity: .5;

                em {@include vw-pc(margin-right, 4);}
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    body.scroll-up .promotion_hub .sec_nav .pt_nav[sticky] {top: 55px;}
}

@media screen and (max-width: 768px) {
    body.scroll-up .promotion_hub .sec_nav .pt_nav[sticky] {top: 55px;}
    .promotion_hub {
        .sec_nav {
            @include vw-mo(height, 111); justify-content: flex-start;
            .pt_nav{
                &__list {justify-content: flex-start; @include vw-mo(height, 110);}
                &__item {display: block; width: auto;
                    &::before{content: ''; position: absolute; top: 50%; @include vw-mo(right, -1); transform: translateY(-50%); @include vw-mo(width, 1); @include vw-mo(height, 23); background-color: #fff; opacity: .5;}
                    &:last-child::before{display: none;}
                }
                &__btn {
                    @include vw-mo(padding, 0 20); @include vw-mo(height, 110); @include vw-mo(font-size, 24); @include vw-mo(line-height, 32); @include vw-mo(letter-spacing, 0);

                    em {@include vw-mo(margin-right, 4);}
                }
            }
        }
    }
}

@keyframes navFade {
    from {
        opacity: 0;
    }

    to {
        opacity : 1;
    }
}