.pt_battle_ground {
    .sec_challenge {
        width: 100%; @include vw-pc(height, 1168);
        &.pt_bg-image.pt_add-bg {background-image: url('../../is/images/bg_challenge_pc.jpg'); @include vw-pc(background-size, 1920 1168); background-repeat: no-repeat; background-position: center top;}

        .pt_btn {position: absolute; @include vw-pc(top, 878); @include vw-pc(left, 705); @include vw-pc(width, 236); @include vw-pc(height, 50); @include vw-pc(font-size, 20); @include vw-pc(border-radius, 28); border-color: #F1AE40; background-color: #F1AE40;}
    }
}

@media screen and (max-width:768px) {
    .pt_battle_ground {
        .sec_challenge {
            @include vw-mo(height, 1363);
            &.pt_bg-image.pt_add-bg {background-image: url('../../is/images/bg_challenge_mo.jpg'); @include vw-mo(background-size, 720 1363);}
    
            .pt_btn {@include vw-mo(top, 1092); left: 50%; transform: translateX(-50%); @include vw-mo(width, 221); @include vw-mo(height, 71); @include vw-mo(font-size, 26); @include vw-mo(border-radius, 39);}
        }
    }
}