.pt_battle_ground {
    .sec_information_hidden-01 {
        width: 100%; @include vw-pc(height, 723);
        &.pt_bg-image.pt_add-bg {background-image: url('../../is/images/bg_info_hidden_01_pc_v1.jpg'); @include vw-pc(background-size, 1920 723); background-repeat: no-repeat; background-position: center top;}
    }
}

@media screen and (max-width:768px) {
    .pt_battle_ground {
        .sec_information_hidden-01 {
            @include vw-mo(height, 1140); 
            &.pt_bg-image.pt_add-bg {background-image: url('../../is/images/bg_info_hidden_01_mo.jpg'); @include vw-mo(background-size, 720 1140);}
        }
    }
}