.pt_battle_ground {
    .sec_notice {
        @include vw-pc(padding, 55 0 75); background-color:#171717;

        .pt_notice {
            display:flex; justify-content:flex-start; @include vw-pc(padding, 45 24);
            & + .pt_notice {border-top:1px solid #3a3a3a;}

            &__title {display: block; @include vw-pc(width, 270); @include vw-pc(font-size, 20); color:#fff; line-height:1.3;}
            &__list {
                li {
                    position:relative; @include vw-pc(font-size, 17); @include vw-pc(line-height, 31); @include vw-pc(padding-left, 14); color:#999; letter-spacing:-0.04em;
                    &::before {content:''; position:absolute; @include vw-pc(top, 12); left:0; @include vw-pc(width, 4); @include vw-pc(height, 4); border-radius:100%; background-color:#a3a3a3;}
                    &.pt_notice__sup {
                        @include vw-pc(padding, 30 0 15); @include vw-pc(font-size, 17); letter-spacing:-0.04em; color:#fff;
                        &::before {content: ''; display:none;}
                        &::first-child {padding: 0;}
                        
                        &--gray {color: #999; padding-bottom: 0;}
                        &--top-gray{color: #999; @include vw-pc(padding, 0);}
                    }
                }

                &--depth1 {@include vw-pc(width, 1157); @include vw-pc(margin-top, -5); line-height:1.77;}
                &--depth2 {
                    li {
                        @include vw-pc(padding-left, 5);
                        &::before {display: none;}
                        &::first-child {padding-bottom: 0;}
                    }
                }
            }

            &__bold {font-weight:700; color:#ccc;}
        }

        .pt_logo {@include vw-pc(width, 370); @include vw-pc(margin-left, 290);}
    }
}

@media screen and (max-width:768px) {
    .pt_battle_ground {
        .sec_notice {
            @include vw-mo(padding, 50 40);

            .pt_notice {
                display:block; justify-content:initial; @include vw-mo(padding, 40 0);

                &__title {display:block; width:100%; @include vw-mo(font-size, 24); font-weight:700; color:#fff;}
                &__list {
                    width:100%; @include vw-mo(padding-top, 35); padding-left:0; @include vw-mo(font-size, 28); line-height:1.7;
                    li {
                        @include vw-mo(padding-left, 15); @include vw-mo(font-size, 24); @include vw-mo(line-height, 40); word-break: keep-all; white-space: inherit !important;
                        &::before {@include vw-mo(top, 18); @include vw-mo(width, 6); @include vw-mo(height, 6); border-radius:100%;}
                    
                        &.pt_notice__sup {
                            @include vw-mo(padding, 40 0 5); @include vw-mo(font-size, 24);
                            &::first-child{@include vw-mo(padding, 0 0 5);}
                        }
                    }

                    &--depth2 {
                        padding-top: 0;

                        li {@include vw-mo(padding-left, 10);}
                    }
                }
            }

            .pt_logo {@include vw-mo(width, 370); margin-left: 0;}
        }
    }
}