body.scroll-up .pt_samsung_wallet .sec_nav .pt_nav[sticky] {top: 80px;}
.pt_samsung_wallet {
    .sec_nav {@include vw-pc(height, 62);
        .pt_nav {background-color: #000;
            &[sticky] {display: block; position: fixed; top: 0; left: 50%; transform: translateX(-50%); @include vw-pc(width, 1920); animation: navFade 0.3s; z-index: 100;}
        }
        .pt_nav{
            &__list {display: flex; justify-content: center; align-items: center; @include vw-pc(width, 1320); @include vw-pc(height, 62); margin: 0 auto;}
            &__item {width: auto; @include vw-pc(padding, 0 60);}
            &__item::after {content: ''; display: inline-block; position: absolute; top: 50%; transform: translateY(-50%); right: 0; @include vw-pc(width, 1); @include vw-pc(height, 20); background-color: #707070;}
            &__item03::after {display: none;}
            &__btn {display: flex; align-items: center; @include vw-pc(height, 62); color: #fff;}
            &__word {display: inline-block; @include vw-pc(font-size, 18); font-weight: middle;}
            &__btn.active {color: #9ED4FB; font-weight: 700;}
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    body.scroll-up .pt_samsung_wallet .sec_nav .pt_nav[sticky] {top: 55px;}
}

@media screen and (max-width: 768px) {
    body.scroll-up .pt_samsung_wallet .sec_nav .pt_nav[sticky] {top: 55px;}
    .pt_samsung_wallet {
        .sec_nav {@include vw-mo(height, 110); @include vw-mo(max-width, 720);
            .pt_nav {
                &[sticky] {@include vw-mo(width, 720);}
            }
            .pt_nav{
                &__list {justify-content: flex-start; @include vw-mo(width, 720); @include vw-mo(height, 110);}
                &__item {@include vw-mo(padding, 0 40);}
                &__item01 {@include vw-mo(padding-left, 30);}
                &__item03 {@include vw-mo(padding-right, 30);}
                &__item::after {content: ''; @include vw-mo(width, 2); @include vw-mo(height, 34);}
                &__btn {@include vw-mo(height, 110);}
                &__word {@include vw-mo(font-size, 26);}
                &__btn.active {color: #9ED4FB; font-weight: 700;}
            }
        }
    }
}

@keyframes navFade {
    from {
        opacity: 0;
    }

    to {
        opacity : 1;
    }
}